<footer class="footer">
  <div class="copyright">
    <p>2021 © LeverX, Int. All Rights Reserved.</p>
  </div>
  <div class="media-plus-support">
    <div class="footer-socials-item"><a href="https://www.facebook.com/leverxint" class="footer-socials-link fb"></a></div>
    <div class="footer-socials-item"><a href="https://t.me/leverxstream" class="footer-socials-link tg"></a></div>
    <div class="footer-socials-item"><a href="https://www.instagram.com/leverx_stream/?hl=ru" class="footer-socials-link inst"></a></div>
    <div class="support"><p>Support</p></div>
  </div>
</footer>
