/* footer style start */
.footer{
  background-color: #333333;
  height: 80px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.media-plus-support{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.footer-socials-link {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: transform .3s ease;
  padding: 0 10px 0 10px;
}

.media-plus-support a:hover {
  transform: scale(1.2);
}
.fb {
  background-image: url("../../assets/img/icon-fb.png");
}
.tg {
  background-image: url("../../assets/img/icon-tele.png");
}
.inst {
  background-image: url("../../assets/img/icon-inst.png");
}
.copyright{
  color: #FFFFFF;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
.support{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.005em;
  color: #F2C94C;
}
/* footer style end */
