<div class="preview-page">
<main class="article-page">
  <div class="wrapper">


    <img alt="Article image" class="article-main-image" src="{{img$ | async}}"/>

    <article class="article">
      <h1>{{title$ | async }}</h1>
      <div *ngFor="let subtitle of subtitlesArray, let i = index">
        <h2>{{subtitle}}</h2>
        <p>{{textArray[i]}}</p>
      </div>
    </article>
    <div class="article-subscription">
      <p>{{author$ | async}}</p>
      <p>{{date$ | async}}</p>
    </div>
    <div>
      <ul class="tags-article">
        <li *ngFor="let tag of tags$ | async" class="tag">{{tag}}</li>
      </ul>
    </div>
  </div>
</main>

<div class="post-footer">
  <button (click)="returnToCreateAPost();" class="button-preview" type="button">
    Return
  </button>
  <button (click)="sendArticle();" class="button-publish" type="button">
    Publish
  </button>
</div>
</div>


