h2{
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.0075em;
  margin-bottom: 24px;
  margin-top: 44px;
}
input, textarea{
  border: 1px solid #2F80ED;
  width: 100%;
  background-color: transparent;
  color: #828282;
  padding: 12px 32px;
  border-radius: 4px;
}
.input-enter-subtitle{
  font-weight: bold;
  font-size: 24px;
}
textarea{
  height: 288px;
}
