
.articleTags, .artTextForSearching {
  display: none;
}
.articleId{
  display: none;
}

/**********main page*/

article{
  min-height: 704px;
}

/* intro style start */

.intro{
  height: 100vh;
  background-color: #0054C5;
  background-image: url("../../assets/img/intro.jpg");
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;
  padding-top: 160px;
  color: #FFFFFF;
  font-size: 18px;
}
.main{
  padding-top: 80px;
}
.intro h2{
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
}
.intro h1{
  font-weight: 700;
  font-size: 60px;
  color: #F2C94C;
  line-height: 130%;
  letter-spacing: 0.03em;
  margin-bottom: 24px;
}
.intro p{
  max-width: 621px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0075em;
  font-style: normal;
  margin-bottom: 50px;
}
.intro button{
  background-color: #F2C94C;
  border-radius: 24px;
  padding: 13px 33px;
  font-weight: bold;
  font-size: 16px;

}

/* intro style end */


/* articles style start */

.article h2{
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  margin-top: 72px;
}
.button-search{
  color: #BDBDBD;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.0075em;
  background: url("../../assets/img/search-icon.png") no-repeat 25px center #FFFFFF;
  box-shadow: 0 -6px 8px rgba(234, 237, 242, 0.5), 0 6px 8px rgba(234, 237, 242, 0.5);
  border-radius: 40px;
  width: 920px;
  height: 60px;
  margin-top: 44px;
  background-size: 20px;
  text-align: left;
  padding-top: 16px;
  padding-bottom: 20px;
  padding-left: 60px;
  margin-bottom: 44px;
}
.button-search img{
  margin-right: 20px;
}

.articles{
  margin: 44px -12px 56px -12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

}
.frame{
  width: 270px;
  height: 352px;
  background: #FFFFFF;
  box-shadow: 0 6px 8px rgba(234, 237, 242, 0.5);
  border-radius: 15px;
  margin: 0 12px 24px 12px;

}
.frame:hover{
  box-shadow: 0 12px 24px rgba(188, 201, 220, 0.4);
  cursor: pointer;
}
.frame:active{
  box-shadow: 0 12px 24px rgba(227, 232, 240, 0.5)
}
.frame a:visited{
  color: #333333;
}


.articleTitle{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.0075em;
  margin: 16px auto 8px 16px;
}
.articleDescription{
  line-height: 142%;
  letter-spacing: 0.0168em;
  color: #4F4F4F;
  margin-right: 16px;
  margin-left: 16px;
  font-size: 14px;
}
.articleImage{
  border-radius: 15px 15px 0 0;
  width: 269px;
  height: 196px;
}

/* articles style end */
.link{
  display: block;
  height: 100%;
}
