.create-post-page{
  margin-top: 80px;
  background: url("../../assets/img/background-create-a-post.png") no-repeat center 350px;
  padding-top: 64px;
}

/* form style start */

.form h2{
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.0075em;
  margin-bottom: 24px;
  margin-top: 44px;
}
input, textarea{
  border: 1px solid #2F80ED;
  width: 100%;
  background-color: transparent;
  color: #828282;
  padding: 12px 32px;
  border-radius: 4px;
}
.input-enter-subtitle{
  font-weight: bold;
  font-size: 24px;
}

.input-enter-title{
  font-weight: bold;
  font-size: 42px;
  letter-spacing: -0.005em;
}
.input-enter-subtitle{
  font-weight: bold;
  font-size: 24px;
}
textarea{
  height: 288px;
}
.button-add-new-block{
  margin-top: 32px;
  background: url("../../assets/img/icon-plus-blue.png") no-repeat left center transparent;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.005em;
  color: #2F80ED;
  padding-left: 29px;
}
.activeTags{
  margin-top: 32px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.0075em;
  min-height: 56px;
  height: 100%;
  color: #BDBDBD;
  border: 1px solid #2F80ED;
  width: 100%;
  padding: 12px 32px;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
}

.plus{
  background: url("../../assets/img/icon-plus-black.png") no-repeat 20px center #FFFFFF;
  padding-left: 50px;
}
/* form style end */

.created-block{
  height: 100px;
  margin: 15px 0;
}
/* footer style start */
.post-footer{
  height: 80px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 146px;
  margin-top: 80px;
}
.post-footer button{
  border-radius: 24px;
  padding: 12px 40px;
  margin-left: 15px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.05em;
}
.button-preview{
  color: #FFC513;
  border: 1px solid #FFC513;
  background: #FFFFFF;
}
.button-preview[disabled]{
  color: grey;
}
.button-publish{
  background: #F2C94C;
}
/* footer style end */

.hide{
  display: none;
}

/* style of field Title - required */
.alert{
  background: #a94442;
  border-radius: 4px;
  font-size: 21px;
  padding: 20px;
  font-weight: 700;

}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}


/* upload-file style start*/

.input-image {
  display: none;
}
.image-upload-container {
  cursor: pointer;

}
.button-add-cover {
  color: #2F80ED;
  font-size: 16px;
}
.img-preview-container {
  background-color: transparent;
  position: relative;
  border: 1px dashed #2F80ED;
  height: 116px;
}
.img-preview {
  background: center center no-repeat;
  background-size: contain;
  height: 116px;
}

.upload-file_icon{
  width: 20px;
  height: auto;

}

/* upload-file style end*/
