<main class="create-post-page">

  <form id="form" class="form">
    <div class="wrapper">

      <div class="upload-file__wrapper">
        <img id="image"  alt="image"/>
        <input
          type="file"
          name="files[]"
          id="upload-file__input_1"
          class="upload-file__input"
          accept=".jpg, .jpeg, .png, .gif, .bmp"
        >

        <label class="upload-file__label" for="upload-file__input_1">
          <img class="upload-file__icon" src="../../assets/img/icon-plus-blue.png" alt="upload file"/>
          <span class="upload-file__text">Add Cover</span>
        </label>
      </div>

      <h2>Enter the title of your article</h2>
      <input type="text" placeholder="Enter Title" class="input-enter-title" name="title" id="title">

      <app-new-article-block *ngFor="let item of items"></app-new-article-block>

      <button (click)="addNewBlock($event)" class="button-add-new-block" id="button-add-new-block">Add new block</button>

      <h2>Add tag information</h2>
      <ul class="tags">
        <li class="tag" *ngFor="let item of tags" (click)="addTags($event)">
          {{item}}
        </li>
      </ul>
      <ul class="activeTags">
        <li class="tag active" *ngFor="let tag of tagsForForm">{{tag}}</li>
      </ul>

    </div>
    <div class="post-footer">
      <button class="button-preview">Preview</button>
      <button type="submit" class="button-publish">Publish</button>
    </div>
  </form>

</main>
