.create-post-page{
  margin-top: 80px;
  background: url("../../assets/img/background-create-a-post.png") no-repeat center 350px;
  padding-top: 64px;
}

/* form style start */

.form h2{
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.0075em;
  margin-bottom: 24px;
  margin-top: 44px;
}
input, textarea{
  border: 1px solid #2F80ED;
  width: 100%;
  background-color: transparent;
  color: #828282;
  padding: 12px 32px;
  border-radius: 4px;
}
/* upload-file style start*/
.upload-file__wrapper{
  width: 100%;
  height: 116px;
  border: 1px dashed #2F80ED;
  margin-bottom: 30px;
}

#image{
  height: 100%;
  width: 100%;
}
.upload-file__input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 0.4px;
  height: 0.4px;
}
.upload-file__label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: -116px;
  padding: 9px 49px;
  cursor: pointer;
  color: #2F80ED;
}
.upload-file__icon {
  width: 20px;
  height: auto;
  margin-right: 10px;
}
.upload-file__label .upload-file__text,
.upload-file__label .upload-file__icon path {
  transition: .25s ease;
}
.upload-file__label:hover .upload-file__text {
  color: #333333;
}

.upload-file__label:hover {
  border: 1px dashed #333333;
}
/* drag and drop - "hover" */
.upload-file__label.hover .upload-file__text {
  color: #FFC513;
}

.upload-file__label.hover {
  border: 1px dashed #FFC513;
}

/* drag and drop - ошибка */
.upload-file__label.error .upload-file__text {
  color: #d32f2f;
}

.upload-file__label.error {
  border: 2px dashed #d32f2f;
}

/* drag and drop - файл успешно перетянут */
.upload-file__label.drop .upload-file__text {
  color: #333333;
}

.upload-file__label.drop {
  border: 1px dashed #333333;
}
/* upload-file style end*/

.input-enter-title{
  font-weight: bold;
  font-size: 42px;
  letter-spacing: -0.005em;
}
.input-enter-subtitle{
  font-weight: bold;
  font-size: 24px;
}
textarea{
  height: 288px;
}
.button-add-new-block{
  margin-top: 32px;
  background: url("../../assets/img/icon-plus-blue.png") no-repeat left center transparent;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.005em;
  color: #2F80ED;
  padding-left: 29px;
}
.activeTags{
  margin-top: 32px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.0075em;
  min-height: 56px;
  height: 100%;
  color: #BDBDBD;
  border: 1px solid #2F80ED;
  width: 100%;
  padding: 12px 32px;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
}

.plus{
  background: url("../../assets/img/icon-plus-black.png") no-repeat 20px center #FFFFFF;
  padding-left: 50px;
}
/* form style end */

.created-block{
  height: 100px;
  margin: 15px 0;
}
/* footer style start */
.post-footer{
  height: 80px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 146px;
  margin-top: 80px;
}
.post-footer button{
  border-radius: 24px;
  padding: 12px 40px;
  margin-left: 15px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.05em;
}
.button-preview{
  color: #FFC513;
  border: 1px solid #FFC513;
  background: #FFFFFF;
}
.button-publish{
  background: #F2C94C;
}
/* footer style end */

.hide{
  display: none;
}
#alert{
  background: #F2C94C;
  border: 1px solid #FFC513;
  border-radius: 4px;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  display: none;
}
