<main class="create-post-page">

  <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit(imageInput)">
    <div class="wrapper">

      <div class="img-load-container">
        <label class="image-upload-container">
          <img src="assets/img/icon-plus-blue.png" alt="+" class="upload-file_icon">
          <span class="button-add-cover">Add Cover</span>
          <input #imageInput
                 type="file"
                 accept="image/*"
                 class="input-image"
                 name="image"
                 (change)="processFile(imageInput)">
        </label>
        <div *ngIf="selectedFile" class="img-preview-container">
          <div class="img-preview"
               [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
          </div>
          <div *ngIf="selectedFile.pending"></div>
        </div>
      </div>

      <h2>Enter the title of your article</h2>
      <input type="text" name="title" formControlName="title" id="title" required
             placeholder="Enter Title" class="input-enter-title"/>

      <div *ngIf="myForm.controls['title'].invalid && (myForm.controls['title'].dirty || myForm.controls['title'].touched)"
           class="alert">

        <div *ngIf="myForm.controls['title'].errors?.required">
          The "Title" field is required.
        </div>
        <div *ngIf="myForm.controls['title'].errors?.minlength">
          Title must be at least 5 characters long.
        </div>
        <div *ngIf="myForm.controls['title'].errors?.maxlength">
          Title must be max 200 characters long.
        </div>
        <div *ngIf="myForm.controls['title'].errors?.pattern">
          The symbol "@" is forbidden
        </div>

      </div>

      <div *ngFor="let item of items, let i = index">
        <h2>Enter the subtitle of your article</h2>
        <input type="text" placeholder="Enter Subtitle" class="input-enter-subtitle" name="subtitle{{i}}" formControlName="subtitle">
        <h2>Tell your story...</h2>
        <textarea name="text{{i}}" formControlName="text"></textarea>
      </div>

      <button (click)="addNewBlock($event)" class="button-add-new-block">Add new block</button>

      <h2>Add tag information</h2>
      <ul class="tags">
        <li class="tag plus" *ngFor="let item of tags" (click)="addTags($event)">
          {{item}}
        </li>
      </ul>
      <ul class="activeTags">
        <li class="tag active" *ngFor="let tag of tagsForForm">{{tag}}</li>
      </ul>

    </div>
    <div class="post-footer">
      <button class="button-preview"
              type="button"
              [disabled]="myForm.invalid"
              (click)="previewArticle();">
                Preview
              </button>
      <button type="submit" class="button-publish" [disabled]="myForm.invalid">Publish</button>
    </div>
  </form>

</main>
