<header class="header">
  <div class="logo">
    <a routerLink="">
      <img src="../../../assets/img/logo.png" alt="LeverX" />
    </a>
  </div>
  <div class="button-plus-avatar">
    <a routerLink="/create-a-post" class="button-add-post" *ngIf="showButtonCreateAPost">
      Create a Post
    </a>
    <a routerLink="/log-in" class="button-log in" *ngIf="showButtonSignIn">
      Sign In</a>
    <button class="button-log out" (click)="logOut()" *ngIf="showButtonLogOut">Log out</button>
    <img src="{{avatarImg}}" class="avatar" *ngIf="showAvatar" alt="avatar" />
  </div>
</header>
