<main class="article-page">
  <div class="wrapper">
    <nav class="nav">
      <a routerLink="/">Home page</a>
      <img src="../../assets/img/icon-arrow.png" alt=">"/>
      <span>Article </span>
    </nav>
    <div class="article-main-image" id="article-main-image">
    </div>
    <article class="article">
      <h1 id="articleTitle"></h1>
      <div id="subtitles-and-text"></div>
    </article>
    <div class="article-subscription">
      <p id="articleAuthor"></p>
      <p id="articleDate"></p>
    </div>
    <div>
      <ul id="articleTags" class="tags-article">
      </ul>
    </div>
  </div>
</main>
