<main>
  <section>
    <div class="intro">
      <div class="wrapper">
        <h2>Free courses from</h2>
        <h1>LEVERX GROUP</h1>
        <p>The profession of a programmer is one of the most demanded
          in the IT field today. Programming training at LeverX Group
          is an excellent opportunity to gain practical knowledge
          in the most relevant areas in this area and build a successful
          career in our company.</p>
        <button>Start Now</button>
      </div>
    </div>
  </section>

  <article class="article">
    <div class="wrapper">
      <h2>Interesting articles by LeverX Group</h2>
      <input type="text" class="button-search" placeholder="Search for article">

        <app-tags></app-tags>

      <div id="articles">
        <div class="frame"  *ngFor="let item of data">
            <img src="../../assets/{{item[1].img}}" />


          <div class="articleTitle">
            {{item[1].title}}
          </div>
          <div class="articleDescription">
            {{item[1].description}}
          </div>
        </div>

      </div>
    </div>
  </article>
</main>
